@mixin con{
    max-width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
    
}

.L2_warper{    
        position: relative;
        .L2_sam_container{
            @include con;
            display: block;
            margin-left: auto;
            margin-right: auto;
            .L2_section_sam{
            padding: 25px 30px;
            max-width: 1220px;
                .L2_list_line_li{
                    float: left;
                }
            }
        }
        .L2_section_container{
            max-width: 1460px;
            padding: 0 30px;
            margin: 0 auto;
            display: block;
        
            .L2_section_list{
                max-width: 1460px;
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;
                    .L2_section_left{
                        width: 20%;
                         float: left;
                     
                        .L2_sort{
                            .L2_sort_title{
                                background: #e0e0e0;
                                padding: 15px 0 15px 30px;
                                font-size: 16px
                            }
                            .L2_sort_menu{
                                border-left: 10px solid #f2f2f2;
                                border-right: 10px solid #f2f2f2;
                                border-bottom: 20px solid #f2f2f2;
                                padding: 2px 18px;
                                font-size: 16px;
                                .L2_sort_menu_title{
                                    margin: 20px 0;
                                    color: #1428a0;
                                    font-weight: bold;
                                    cursor: pointer;
                                }
                                ul{
                                    padding:0 30px 0 30px;
                                    li{
                                      margin: 20px 0;  
                                        .on{
                                            color: #1428a0;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .L2_sort_menu_color{
                                    padding:5px 5px 0 5px;
                                    overflow: hidden;
                                    li{
                                      margin: 20px 10px; 
                                        float: left;
                                     
                                        ._red{
                                            width: 28px;
                                            height: 28px;
                                            border: 1px solid #ccc;
                                            display: block;
                                            background-color: red;
                                            
                                        }
                                        ._yellow{
                                            width: 28px;
                                            height: 28px;
                                            border: 1px solid #ccc;
                                            display: block;
                                            background-color: yellow;
                                        }
                                        ._white{
                                            width: 28px;
                                            height: 28px;
                                            border: 1px solid #ccc;
                                            display: block;
                                            background-color: white;
                                        }
                                        ._black{
                                            width: 28px;
                                            height: 28px;
                                            border: 1px solid #ccc;
                                            display: block;
                                            background-color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .L2_section_right{
                        width: 80%;
                        float: left;
                        .L2_section_right_title{
                            overflow: hidden;
                            h3{
                                float: left;
                                margin-left:50px ;
                                font-size: 20px;
                                font-weight: bold

                            }
                            .L2_section_sort_style{
                                float: right;
                                span{
                                    float: left;
                                    padding: 10px 10px;
                                }
                                a{
                                    border: 1px solid #e5e5e5;
                                    padding: 10px 18px;
                                    float: left;
                                    cursor: pointer;
                                }
                               
                            }
                        
                        }
                        .L2_section_shops{
                            display: block;
                            
                            .shop{
                                margin:50px 0px 0 50px;
                                width: 20%;
                                float: left;
                                .shop_box{
                                    img{
                                        width: 100%;
                                    }
                                }
                                .shop_scoll{
                       
                                    text-align: center;

                                }
                            }
                        }
                    }
                    
            }
        }

}  
    
    
